<nav class="navbar navbar-inverse navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        Pinterest Clone
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if user %}
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Image <span class="caret"></span></a>
            <div class="dropdown-menu">
              <form action="/newimage" method="POST">
                <input type="text" class="form-control" name="image_url" placeholder="Image URL" />
                <input type="text" class="form-control" name="image_text" placeholder="Text" />
                <button type="submit" class="btn btn-primary btn-block">Add</button>
              </form>
            </div>
          </li>
        </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        <li {% if title=='All images' %} class="active"{% endif %}>
          <a href="/">
            All images
            {% if title=='All images' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% if user %}
          <li {% if title=='My images' %} class="active"{% endif %}>
            <a href="/myimages">
              My images
              {% if title=='My images' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
          <li>
            <img class="twitter-icon" src="https://twitter.com/{{ user }}/profile_image?size=normal" />
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        {% else %}
          <li {% if title=='Login' %} class="active"{% endif %}>
            <a href="/login">
              Login
              {% if title=='Login' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
