{% extends 'layout.html' %}

{% block content %}

  <div class="grid">
    {% for image in images %}
      <div class="grid-item">
        <div class="image">
          <img src={{ image['image'] }} onerror="this.src='{{ url_for('static', filename='img/placeholder.png') }}'" />
          <p>{{ image['text'] }}</p>
        </div>
        <div class="info">
          <img src="https://twitter.com/{{ user }}/profile_image?size=normal" onerror="this.src='{{ url_for('static', filename='img/twitter-egg-icon.png') }}'" />
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
